<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<nav th:replace="fragments/nav :: nav"></nav>

<div class="container">
    <h2>Usuarios</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los siguientes:</p>
    <button id="updateButton" type="button" class="btn btn-primary mb-3">Actualizar</button>

    <div id="usersTableContainer" th:replace="user/fragments/usersTable :: usersTable"></div>

    <div th:if="${#lists.isEmpty(usersList)}" class="alert alert-warning mt-3">
        No hay usuarios.
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>
    $("#updateButton").click(function () {
        $("#usersTableContainer").load("/user/list/update #usersTable");
    });
</script>

</body>
</html>
