<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/head :: head"></head>

<body>

<nav th:replace="fragments/nav :: nav"></nav>

<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}">Bienvenidos a la pagina principal</h2>
    <h3>Esta es una zona privada la web</h3>
    <p>Usuario autenticado como: <span th:text="${#authentication.name}"></span></p>
    <p>Notas del usuario</p>

    <div th:replace="fragments/marksTable :: marksTable"></div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
