<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<nav th:replace="fragments/nav :: nav"></nav>

<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}">Bienvenidos a la pagina principal</h2>
    <h3>Esta es una zona privada la web</h3>
    <p>Usuario autenticado como: <span th:text="${#authentication.name}"></span></p>
    <p>Notas del usuario</p>

    <div class="table-responsive">
        <table class="table table-hover" th:fragment="marksTable" id="marksTable">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Puntuacion</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mark : ${marksList}">
                <td th:text="${mark.id}">1</td>
                <td th:text="${mark.description}">Ejercicio 1</td>
                <td th:text="${mark.score}">10</td>
                <td><a th:href="${'/mark/details/' + mark.id}">detalles</a></td>
                <td><a th:href="${'/mark/edit/' + mark.id}">modificar</a></td>
                <td><a th:href="${'/mark/delete/' + mark.id}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
